
<app-page-container title="Assignments" styleClass="top-level-page-container" [actions]="actions">
  <ng-template #actions>
    <button mat-stroked-button *ngIf="isMobile$ | async" (click)="onChangeClassroom()">{{ (currentClassroom$ | async).name }}</button>
  </ng-template>
  <mat-sidenav-container style="height: 100%">
    <mat-sidenav mode="side" [opened]="!(isMobile$ | async)">
      <mat-toolbar>
        <span>{{ sidebarMode$ | async | titlecase }}</span>
        <span style="flex: 0 1 auto"><!-- Spacer --></span>
        <button mat-icon-button><mat-icon>filter_list</mat-icon></button>
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of sidebarContent$ | async" [routerLink]="getSidebarNavLink(item) | async">{{ item.name }}</a>
        <mat-list-item *ngIf="(sidebarContent$ | async).length < 1" disabled>No Classrooms exist</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="child-content">
        <router-outlet></router-outlet>
      </div>
      <button
        mat-fab
        appResponsive
        baseClass="create-fab-button"
        (click)="onCreateAssignment()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-page-container>

<ng-template #classroomSelect>
  <h1 mat-dialog-title>Choose Classroom</h1>
  <div mat-dialog-content>
    <mat-action-list>
      <button mat-list-item *ngFor="let item of sidebarContent$ | async" [mat-dialog-close]="item">{{ item.name }}</button>
    </mat-action-list>
  </div>
</ng-template>
