
<div class="parent-container">
  <h1 mat-dialog-title>Add Class</h1>
  <div mat-dialog-content>
    <form [formGroup]="classForm" class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <p class="mat-caption">Times</p>
      <ng-container *ngFor="let group of timeControls">
        <form [formGroup]="group" class="duration-form">
          <mat-form-field appearance="outline">
            <mat-label>Start</mat-label>
            <input matInput type="datetime-local" formControlName="start">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>End</mat-label>
            <input matInput type="datetime-local" formControlName="end">
          </mat-form-field>
          <mat-checkbox formControlName="repeat">Repeat</mat-checkbox>
          <div *ngIf="group.get('repeat').value" class="repeat-box">
            <mat-button-toggle-group multiple (change)="handleToggleChangeEvent(group, $event)" style="margin-bottom: 8px">
              <mat-button-toggle
                *ngFor="let day of daysOfTheWeek; index as idx"
                [checked]="getStartingTimeDay(group) === day"
                [value]="idx">
                {{ day | titlecase }}
              </mat-button-toggle>
            </mat-button-toggle-group>
            <mat-form-field appearance="outline">
              <mat-label>End Repeat Date</mat-label>
              <input matInput type="date" formControlName="repeatEndDate">
            </mat-form-field>
          </div>
        </form>
      </ng-container>
      <button mat-button (click)="onAddTime()" style="margin-bottom: 16px;"><mat-icon>add</mat-icon></button>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close="">CANCEL</button>
    <button mat-raised-button color="accent" (click)="onSubmit()">CREATE</button>
  </div>
</div>
